* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1300px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }
}

body {
  background-image: url("../assets/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 135rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 2024;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .container .logo span {
  font-size: 3rem;
}
header .container .logo strong {
  font-size: 3rem;
}
header .container .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .container .search-box label {
  width: 100%;
  max-width: 40rem;
  border: 2px solid #000000;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.6rem;
  padding: 1rem 1rem 1rem 1rem;
}
header .container .search-box label input {
  width: 100%;
  font-size: 1.6rem;
  height: 100%;
  background-color: transparent;
  display: block;
}
header .container .search-box label .search img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
header .container .search-box .btn-voice-search {
  width: 100%;
  max-width: 4rem;
  height: 4rem;
  background-color: rgb(107, 147, 223);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .container .search-box .btn-voice-search img {
  width: 32px;
  height: 32px;
}
header .container .search-box .btn-voice-search:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 560px) {
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .container .logo {
    margin-bottom: 1rem;
  }
}

footer {
  height: 5rem;
  background-color: rgba(48, 47, 47, 0.4);
  border-radius: 4px;
}
footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container span {
  font-size: 1.6rem;
  color: #ffffff;
}
@media (max-width: 560px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  footer .container span {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.s-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 5rem;
}
.s-hero .container .title-area {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.s-hero .container .title-area .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 12rem;
  border-radius: 4.4rem;
  background-color: rgba(214, 213, 213, 0.329);
  margin-bottom: 2rem;
}
.s-hero .container .title-area .title h1 {
  font-size: 5.6rem;
  color: #325f3e;
  text-transform: uppercase;
  font-weight: 700;
}
.s-hero .container .title-area .description {
  background-color: rgba(48, 47, 47, 0.4);
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.s-hero .container .title-area .description h2 {
  font-size: 3.6rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.s-hero .container .title-area .description p {
  color: #ffffff;
  font-size: 2rem;
  max-width: 100rem;
}
.s-hero .container .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.s-hero .container .search-box label {
  width: 100%;
  max-width: 40rem;
  border: 2px solid #337252;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.6rem;
  padding: 1rem 1rem 1rem 1rem;
  background: #ffffff;
}
.s-hero .container .search-box label input {
  width: 100%;
  font-size: 1.6rem;
  height: 100%;
  display: block;
}
.s-hero .container .search-box label .search img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.s-hero .container .search-box .btn-voice-search {
  width: 100%;
  max-width: 4rem;
  height: 4rem;
  background-color: rgb(107, 147, 223);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-hero .container .search-box .btn-voice-search img {
  width: 32px;
  height: 32px;
}
.s-hero .container .search-box .btn-voice-search:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.s-hero .container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 4rem;
  -webkit-column-gap: 3.2rem;
  -moz-column-gap: 3.2rem;
  column-gap: 3.2rem;
  margin-bottom: 30rem;
}
.s-hero .container .cards .card-lei {
  width: 100%;
  position: relative;
}
.s-hero .container .cards .card-lei .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(79, 109, 79);
  border: 3px solid rgb(4, 82, 4);
  border-radius: 10px;
  cursor: pointer;
  padding: 0rem 1.6rem;
  z-index: 3;
  height: 9.4rem;
}
.s-hero .container .cards .card-lei .title h2 {
  font-size: 2rem;
  color: #ffffff;
}
.s-hero .container .cards .card-lei .title img {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-hero .container .cards .card-lei .title.clicked img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.s-hero .container .cards .card-lei .corpo {
  padding: 2rem;
  background-color: rgb(85, 102, 85);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  z-index: 2;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  height: 30rem;
  overflow-y: auto;
  display: none;
}
.s-hero .container .cards .card-lei .corpo p {
  font-size: 1.7rem;
  color: white;
  margin-bottom: 1.6rem;
}
.s-hero .container .cards .card-lei .corpo p a {
  color: #ffffff;
  text-decoration: underline;
}
.s-hero .container .cards .card-lei .corpo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}
.s-hero .container .cards .card-lei .corpo ul li {
  font-size: 1.7rem;
  color: white;
  list-style: disc;
  list-style-position: inside;
}
.s-hero .container .cards .card-lei .corpo ul li .paragrafo-unico {
  margin-top: 1.6rem;
}
.s-hero .container .cards .card-lei .corpo .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.s-hero .container .cards .card-lei .corpo .action a {
  color: #0fc03b;
  font-size: 1.6rem;
  text-decoration: underline;
}
.s-hero .container .cards .card-lei .corpo .action p {
  margin-bottom: 0;
}
.s-hero .container .cards .card-lei.hidden {
  display: none;
}
.s-hero .container .btn-load-more {
  display: none;
  padding: 2rem 3rem;
  background-color: rgb(4, 82, 4);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.8rem;
  border-radius: 10px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-hero .container .btn-load-more:hover {
  background-color: rgb(3, 54, 3);
}