.s-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 5rem;

  .container {
    .title-area {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title {
        width: fit-content;
        padding: 1rem 12rem;
        border-radius: 4.4rem;
        background-color: rgba(214, 213, 213, 0.329);
        margin-bottom: 2rem;
        h1 {
          font-size: 5.6rem;
          color: #325f3e;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      .description {
        background-color: rgba(48, 47, 47, 0.4);
        border-radius: 4px;
        padding: 2rem;
        margin-bottom: 2rem;
        h2 {
          font-size: 3.6rem;
          color: #ffffff;
          margin-bottom: 2rem;
        }
        p {
          color: #ffffff;
          font-size: 2rem;
          max-width: 100rem;
        }
      }
    }
    .search-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
      label {
        width: 100%;
        max-width: 40rem;
        border: 2px solid #337252;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-right: 1.6rem;
        padding: 1rem 1rem 1rem 1rem;
        background: #ffffff;
        input {
          width: 100%;
          font-size: 1.6rem;
          height: 100%;

          display: block;
        }
        .search {
          img {
            width: 32px;
            height: 32px;
            cursor: pointer;
          }
        }
      }

      .btn-voice-search {
        width: 100%;
        max-width: 4rem;
        height: 4rem;
        background-color: rgb(107, 147, 223);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        img {
          width: 32px;
          height: 32px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 4rem;
      column-gap: 3.2rem;
      margin-bottom: 30rem;
      .card-lei {
        width: 100%;
        position: relative;
        .title {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          background-color: rgb(79, 109, 79);
          border: 3px solid rgb(4, 82, 4);
          border-radius: 10px;
          cursor: pointer;
          padding: 0rem 1.6rem;
          z-index: 3;
          height: 9.4rem;
          h2 {
            font-size: 2rem;
            color: #ffffff;
          }
          img {
            width: 40px;
            height: 40px;
            transition: all 0.3s;
          }
          &.clicked {
            img {
              transform: rotate(180deg);
            }
          }
        }
        .corpo {
          padding: 2rem;
          background-color: rgb(85, 102, 85);
          transition: all 0.3s;
          opacity: 1;
          z-index: 2;
          border-radius: 10px;
          position: absolute;
          top: 90px;
          height: 30rem;
          overflow-y: auto;
          display: none;
          p {
            font-size: 1.7rem;
            color: white;
            margin-bottom: 1.6rem;
            a {
              color: #ffffff;
              text-decoration: underline;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            margin-bottom: 1.6rem;
            li {
              font-size: 1.7rem;
              color: white;
              list-style: disc;
              list-style-position: inside;
              .paragrafo-unico {
                margin-top: 1.6rem;
              }
            }
          }
          .action {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            a {
              color: #0fc03b;
              font-size: 1.6rem;
              text-decoration: underline;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .btn-load-more {
      display: none;
      padding: 2rem 3rem;
      background-color: rgb(4, 82, 4);
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      color: #ffffff;
      font-size: 1.8rem;
      border-radius: 10px;
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(3, 54, 3);
      }
    }
  }
}
