.s-hero {
  padding-top: 15rem;
  padding-bottom: 3.2rem;
  width: 100%;
  background-image: url("../assets/bg-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  .container {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      row-gap: 4rem;
      column-gap: 3.2rem;
      margin-bottom: 30rem;
      .card-lei {
        width: 100%;
        position: relative;
        .title {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          background-color: rgb(79, 109, 79);
          border: 3px solid rgb(4, 82, 4);
          border-radius: 10px;
          cursor: pointer;
          padding: 0rem 1.6rem;
          z-index: 3;
          height: 9.4rem;
          h2 {
            font-size: 2rem;
            color: #ffffff;
          }
          img {
            width: 40px;
            height: 40px;
            transition: all 0.3s;
          }
          &.clicked {
            img {
              transform: rotate(180deg);
            }
          }
        }
        .corpo {
          padding: 2rem;
          background-color: rgb(85, 102, 85);
          transition: all 0.3s;
          opacity: 1;
          z-index: 2;
          border-radius: 10px;
          position: absolute;
          top: 90px;
          height: 30rem;
          overflow-y: auto;
          display: none;
          p {
            font-size: 1.7rem;
            color: white;
            margin-bottom: 1.6rem;
            a {
              color: #ffffff;
              text-decoration: underline;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            margin-bottom: 1.6rem;
            li {
              font-size: 1.7rem;
              color: white;
              list-style: disc;
              list-style-position: inside;
              .paragrafo-unico {
                margin-top: 1.6rem;
              }
            }
          }
          .action {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            a {
              color: #0fc03b;
              font-size: 1.6rem;
              text-decoration: underline;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .btn-load-more {
      display: none;
      padding: 2rem 3rem;
      background-color: rgb(4, 82, 4);
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      color: #ffffff;
      font-size: 1.8rem;
      border-radius: 10px;
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(3, 54, 3);
      }
    }
  }
}
